/* global styles for About.js page regardless of screen size */
#about-page {
    padding-top: 27px;
    margin-bottom: 150px;
}

#about-page h1 {
    color: black;
}

#about-section-1 {
    margin-top: 120px;
    }

#about-section-1 h1 {
    text-align: left;
}

#about-section-1 .about-goals {
    border: 1px dashed rgb(110, 110, 110);
    padding: 20px;
}

#about-section-1 table {
    padding: 30px 0px;
    width: 410px;
    margin: 0 auto;
}

#about-section-1 p,
#about-section-3 p,
#about-section-5 p {
    text-align: left;
    max-width: 667px;
    margin: 0 auto;
}

#about-extra {
    display: none;
}

div[id^="about-section-"] {
    overflow: hidden;
    background-color: #fff;
}

#about-section-2,
#about-section-4,
#about-section-6 {
    height: 500px;
    padding: 20px 30px;
}

#about-section-1,
#about-section-3,
#about-section-5 {
    padding: 20px 30px;
}

#about-image-1,
#about-image-2,
#about-image-3 {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    border: 1px dashed rgb(110, 110, 110);
    border-radius: 8px;
    position: relative;
}

#about-image-1 {
    background-image: url("../images/gw-grad-ceremony-3.jpg");
}

#about-image-2 {
    background-image: url("../images/about/about-dwyan-group.jpg");
}

#about-image-3 {
    background-image: url("../images/about/about-dwyan-presenting.jpg");
}

.caption-div {
    position: absolute;
    bottom: 0;
    left: 25%;
    margin-bottom: 50px;
    background-color: rgb(34, 34, 34);
    border: 1px dashed rgb(110, 110, 110);
    border-radius: 8px;
    padding: 10px 20px;
    opacity: 0.75;
}

.caption-text {
    color: #fff;
}

/* image size on screens less than 1000px */
@media only screen and (max-width: 699px) {

}

/* adjustment of image size as screen gets larger */
@media only screen and (min-width: 700px) {

}

/* for screen sizes higher than 999 pixels */
@media only screen and (min-width: 1000px) {
    
    #about-section-1,
    #about-section-3,
    #about-section-5 {
        height: 500px;
    }

    #about-section-1 p,
    #about-section-3 p,
    #about-section-5 p {
    color: black;
    }
    
    #about-section-1,
    #about-section-2 {
        margin-top: 137px;
    }
}


/* for screen sizes higher than 1499 pixels */
@media only screen and (min-width: 1500px) {

    #about-page h1,
    #about-section-1 p,
    #about-section-3 p,
    #about-section-5 p {
        color: rgb(255, 255, 255);
    }

    div[id^="about-section-"] {
        background-color: #333;
    }
    
    #about-extra {
        display: block;
    }
    
    #about-section-3 {
      margin-top: 137px;
    }
}