/* Core Styles - Mobile first up to a max width of 1,000 pixels */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

body, button, a, p, h1, h2, h3, h4, span, label, option, input {
  font-family: 'Barlow', sans-serif;
}

body, button, a, p, span, label, option, input {
  font-size: 16px;
}

button {
  background-color: #4CAE51;
  color: #fff;
  cursor: pointer;
  padding: 12px 18px;
  text-decoration: none;
  border-radius: 10px;
  border: none;
}

button:hover {
  background-color: rgb(25, 117, 29);
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: #4CAE51;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 18px;
}

span {
  font-weight: 700;
}

table {
  width: 100%;
}

/* ---------------------------- Section - All or multiple sections at a go */
section {
  height: 450px;
  /* border: 1px solid blue; */
}

.content-wrap {
  padding: 1.1em;
  margin: 0 auto;
  width: 500px;
}

.content-title {
  text-align: center;
}

/* apply 'theme' class to any element to change color scheme for entire site */
.theme {
  background-color: #333;
  color: #fff;
}

/* Large devices (laptops/desktops, 1,001px and up) and on screens 
larger than 1500px sections will expand to 3 per row based on 
responsive.css */
@media only screen and (min-width: 1001px) {
  body {
    background-color: #333;
  }

  h1 {
    color: #fff;
  }

  h2, h3, h4, p, span {
    color: #d6d6d6;
  }

}