/* Large devices (laptops/desktops, 1,001px and up) and on screens 
larger than 1500px sections will expand to 3 per row based on 
responsive.css */
@media only screen and (min-width: 1001px) {
  body {
    background-color: #333;
  }

  h1 {
    color: #fff;
  }

  h2, h3, h4, p, span {
    color: #d6d6d6;
  }

  /* adjustment to the width of all content within each section
  for larger screens */
  .content-wrap {
    width: 85%;
  }

  #prolinks p {
    color: #000;
  }

  #prolinks table {
    background-color: #fff;
    border-radius: 5px;
    padding: 40px;
  }

  #work {
    padding-bottom: 5px;
  }

  #education td {
    border-bottom: 0;
  }
  #education button {
    margin-top: 15px;
    display: block;
  }
  #skills {
    margin-top: 125px;
  }

}

/* adjust for fixed nav on screen sizes 1000 to 1499 pixels  */
@media only screen and (min-width:1500px) {
  #portfolio {
      margin-top: 125px;
  }
}
